.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  margin-bottom: 24px;
  width: 95px;
  height: 20px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border: none;
}

.modal__close-btn {
  position: absolute;
  top: 15px;
  right: 7px;
  border: none;
}

.modal__content {
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  padding: 28px 28px 36px;
  width: 496px;
  height: 455px;
  box-sizing: border-box;
  border-width: 1px;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__lable {
  width: 440px;
  height: 52px;
  margin-bottom: 6px;
}

.modal__lable_type_radio {
  width: 72px;
  height: 33px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__radio-buttons {
  display: flex;
  flex-direction: column;
  width: 173px;
  height: 108px;
  margin-top: 24px;
  margin-bottom: 60px;
  border: none;
  padding: 0;
}

.modal__legend {
  width: 173px;
  height: 20px;
  margin-bottom: 12px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.modal__input {
  margin-top: 8px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: block;
  width: 440px;
  border-right: rgba(0, 0, 0, 1);
  border-left: rgba(0, 0, 0, 1);
  border-top: rgba(0, 0, 0, 1);
}

.modal__submit {
  width: 124px;
  height: 36px;
  margin-bottom: 36px;
  border-radius: 4px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__content_type_image {
  background-color: #fff;
  width: 545px;
  height: 670px;
  top: 106px;
}

.modal__footer {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
